/* ESTILOS PARA IMPRIMIR */

@media print {

}

/* ESTILO PARA TABLET */

@media screen and (min-width: 780px) and (max-width: 992px) {

    body, html {
        background-image: linear-gradient(#5f2c82, #49a09d);
    }

    section#login {
        height: 350px;
        width: 720px;
    }

    div#contenedor_img {
        float: left;
        width: 40%;
        height: 100%;
    }

    div#contenedor_form {
        float: right;
        width: 60%;
    }

    div#contenedor_form p {
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    input {
        width: 91.9%;
        height: 40px;
        border-radius: 5px;
    }

    a {
        height: 40px;
    }

}


/* ESTILO PARA DESKTOP */

@media screen and (min-width: 993px) {

    body, html {
        background-image: linear-gradient(#5f2c82, #49a09d);
    }

    section#login {
        width: 80%;
        height: 380px;
        max-width: 800px;
    }

    div#contenedor_img {
        float: right;
        width: 40%;
        height: 100%;
    }


    div#contenedor_form {
        float: left;
        width: 60%;
    }

    div#contenedor_form p {
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    input {
        width: 92.7%;
        height: 40px;
        border-radius: 5px;
    }

    a {
        height: 40px;
    }

}